<div class="menu-barra_container">
  <div class="menu-barra_logo">
    <img src="assets/ps-logo.png"
    alt=""
    srcset=""
    width="150px"
    height="40px"
    >
  </div>
  <div class="menu-barra_itens">
    <ul>
      <li><a href="https://linkedin.com/in/joaopaulocarneiro97"><img src="assets/likedin.png"
        width="20px"
        height="20px" /> Linkedin </a></li>
      <li><a href="https://github.com/JoaoPauloCarneiro"> <img src="assets/github.png"
        width="20px"
        height="20px" /> GitHub </a></li>

    </ul>
  </div>
</div>
