
<div class="home_container">
  <app-card
  gameCover="assets/Bloodborne.png"
  gameLabel="Exclusivo"
  gameType=" Digital | PS4"
  gamePrice="169,90"
  ></app-card>

  <app-card
  gameCover="assets/Horizon2.jpeg"
  gameLabel="Exclusivo"
  gameType="Digital | PS5 | PS4"
  gamePrice="299,90"
  ></app-card>

  <app-card
  gameCover="assets/Horizon.png"
  gameLabel="Exclusivo"
  gameType="Digital | PS5 | PS4"
  gamePrice="199,90"
  ></app-card>

  <app-card
  gameCover="assets/DarkSouls.jpeg"
  gameLabel="Digital"
  gameType="Digital | PS4"
  gamePrice="159,90"
  ></app-card>

  <app-card
  gameCover="assets/DarkSouls3.jpeg"
  gameLabel="Digital"
  gameType="Digital | PS4 | PS5"
  gamePrice="229,90"
  ></app-card>

  <app-card
  gameCover="assets/Sekiro.png"
  gameLabel="Exclusivo"
  gameType="Digital | PS 5"
  gamePrice="259,90"
  ></app-card>

  <app-card
  gameCover="assets/Nioh.png"
  gameLabel="Exclusivo"
  gameType="Digital | PS5 | PS4"
  gamePrice="199,90"
  ></app-card>

  <app-card
  gameCover="assets/Crash.jpg"
  gameLabel="Digital"
  gameType="Digital | PS5 | PS4"
  gamePrice="199,90"
  ></app-card>

</div>



